# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives
- python
- R language
- sql
- Jupyter notebook
- R studio

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. sql
4. c++

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. matplotlib
4. tplyr

| Data Science Tools  | 
| -------- | 
| Jupyter notebook  | 
| R studio | 
| Spyder   |

### Below are a few examples of evaluating arithmetic 
# Addition
result_addition = 5 + 3
print("Addition:", result_addition)

# Subtraction
result_subtraction = 8 - 3
print("Subtraction:", result_subtraction)

# Multiplication
result_multiplication = 4 * 6
print("Multiplication:", result_multiplication)
xpressions in Python

In [14]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [16]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Talha Mahmood